<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iti.itiinhands">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Branches" />
        <activity android:name=".activities.Tracks" />
        <activity android:name=".activities.TrackDetails" />
        <activity android:name=".activities.StudentCourseList" />
        <!--<activity android:name=".activities.TrackDetails"></activity>-->
        <!--<activity android:name=".activities.StudentCourseList">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".activities.EventList"></activity>
            <!--android:label="@string/title_activity_event_list"-->
            <!--android:theme="@style/AppTheme_NoActionBar" />-->
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SideMenuActivity" />

        <!-- <activity android:name=".activities.LoginActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".activities.StaffSideMenuActivity" />
        <activity android:name=".activities.CompanySideMenu" />
        <activity android:name=".activities.GuestSideMenu" />
        <activity android:name=".activities.GraduateSideMenu"></activity>
    </application>

</manifest>