<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iti.itiinhands">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.Branches" />
        <activity android:name=".activities.Tracks" />
        <activity android:name=".activities.TrackDetails" />
        <!-- <activity android:name=".activities.TrackDetails"></activity> -->
        <!-- <activity android:name=".activities.StudentCourseList"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".activities.EventList"></activity> -->
        <!-- android:label="@string/title_activity_event_list" -->
        <!-- android:theme="@style/AppTheme_NoActionBar" /> -->
        <!-- <activity android:name=".activities.StudentCourseList" /> -->

        <activity android:name=".activities.OurWalkthrough">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".activities.EventList"></activity> -->
        <!-- android:label="@string/title_activity_event_list" -->
        <!-- android:theme="@style/AppTheme_NoActionBar" /> -->
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SideMenuActivity" />
        <activity android:name=".fragments.StudentsOfTrack" />

        <!-- <activity android:name=".activities.LoginActivity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".activities.StaffSideMenuActivity" />
        <activity android:name=".activities.CompanySideMenu" />
        <activity android:name=".activities.GuestSideMenu" />
        <activity android:name=".activities.GraduateSideMenu" />

        <service
            android:name=".services.FirebaseMessageReceiverService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.MapsDetailsActivity" />

        <!-- <activity android:name=".activities.GraduateSideMenu" /> -->
        <activity android:name=".activities.Schedule" />
        <activity android:name=".activities.UploadImage">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- <activity android:name=".activities.GraduateSideMenu" /> -->
        <!-- <activity android:name=".activities.Schedule" /> -->
        <activity android:name=".activities.CompanyStudentProfile" />
        <activity android:name=".activities.CompanyJobPost" />
        <!-- <activity android:name=".activities.Schedule" /> -->
        <activity android:name=".activities.GraduatesByTrack" />
        <activity
            android:name=".activities.ChatRoomActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="launch" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast_receiver.UpdateAccessTokens"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.iti.itiinhands.broadcast_receiver.UpdateAccessTokens.DOWNLOAD_FINISHED" />
                <action android:name="com.iti.itiinhands.broadcast_receiver.UpdateAccessTokens.UPDATE_ACCESS_TOKEN_ALARM" />
            </intent-filter>

        </receiver>


    </application>

</manifest>