<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iti.itiinhands">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Branches"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.Tracks"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.OurWalkthrough"
            android:screenOrientation="portrait">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"
                android:screenOrientation="portrait"/>

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.SideMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.StudentsOfTrack"
            android:screenOrientation="portrait"/>
<activity android:name=".activities.TrackDetails"
    android:screenOrientation="portrait"/>
        <activity android:name=".activities.StaffSideMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.CompanySideMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.GuestSideMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.GraduateSideMenu"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.FirebaseMessageReceiverService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".activities.MapsDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.Schedule"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.UploadImage"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.CompanyStudentProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.CompanyJobPost"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.ScheduleChanged"
            android:exported="false"></service>
        <activity android:name=".activities.GraduatesByTrack"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.CompanyProfileActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.ChatRoomActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="launch" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.CompanyGraduateProfile"
            android:screenOrientation="portrait"/>

        <service
            android:name=".services.UpdateAccessToken"
            android:exported="false"/>



        <activity android:name=".activities.EditProfileActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>